##Class 6 Aggregation--Bike Sales--Brandon Holderman

In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [32]:
ds = pd.read_csv('./cycle-share-dataset/station.csv')
ds.head()

dt = pd.read_csv('./cycle-share-dataset/trip.csv', error_bad_lines=False)
dt = dt.drop_duplicates()
dt.head()

dw = pd.read_csv('./cycle-share-dataset/weather.csv')
dw.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [22]:
#What is the average trip duration for a borrowed bicycle?
dt['tripduration'].mean()

1202.6122102556499

In [31]:
#What's the most common age of a bicycle-sharer?
pd.DataFrame(dt['birthyear']).groupby(dt.birthyear).count().sort_values('birthyear', ascending=False).head(1)

           birthyear
birthyear
1987.0         13904

In [61]:
#Given all the weather data here, find the average precipitation per month, and the median precipitation.
# pd.DataFrame(dw['Precipitation_In']).groupby(dw.Precipitation_In).count().sort_values('Precipitation_In', ascending=False)
dw['Date'] = pd.to_datetime(dw['Date'])
dw['Month'] = dw['Date'].dt.month
dw['Precipitation_In'].groupby(dw.Month).mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [64]:
dw['Precipitation_In'].groupby(dw.Month).median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

In [73]:
#Whatâ€™s the average number of bikes at a given bike station?
ds['current_dockcount'].mean()

16.517241379310345

In [71]:
#When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?
ds['install_dockcount'].mean()
#17.58

17.586206896551722

In [74]:
ds['current_dockcount'].mean()
#16.51

#More likely to lose bikes

16.517241379310345

In [92]:
#Most common types of weather
pd.DataFrame(dw['Events']).groupby(dw.Events).count().sort_values('Events', ascending=False).head()

                   Events
Events
Rain                  287
Fog                    16
Fog , Rain              7
Fog-Rain                6
Rain-Thunderstorm       4

In [93]:
#What are the top 5 bicycle dock counts
ds[['install_dockcount']].sort_values('install_dockcount', ascending=False).head()

    install_dockcount
22                 30
17                 28
36                 20
38                 20
40                 20

In [97]:
#What's the longest trip duration
dt.sort_values('tripduration', ascending=False).head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN